# Node modules
node_modules
npm-debug.log

# Frontend
frontend/

# Git
.git
.gitignore

# Environment
.env
.env.*
!.env.example

# IDE
.vscode
.idea

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
dist
build

# Backups
backups/

# Mobile
mobile/
