# fly.toml app configuration file generated for syngtc-rdc on 2025-11-29T19:25:00Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'syngtc-rdc'
primary_region = 'cdg'

[build]
  dockerfile = "backend/Dockerfile"

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
